body {
  background-color: #eef9bf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: #75b79e;
  margin-top: 40px;
  margin-bottom: 47px;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  width: 50%;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 146px;
  position: relative;
  border-radius: 5px;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 34px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  transform-style: preserve-3d;
}
.face {
  width: 100%;
  height: 100%;
  background-color: #a7e9af;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
  border: #99cea8 1px solid;
}

.up-face {
  transform: rotateY(180deg);
}

.selected .up-face {
  transform: rotateY(0deg);
}

.selected .down-face {
  transform: rotateY(-180deg);
}
.card img {
  align-items: center;
  width: 100px;
  height: 100px;
  margin-top: 24px;
  margin-bottom: 22px;
}
.face {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 1s;
  transform-style: preserve-3d;
}
.card-not-selected {
  pointer-events: none;
}
